Bonjour {{ first_name }},

Your name has been added to the voting list.

What does this mean?
This means that, tomorrow, you will receive an email with a link to vote for the next BDE !

Be aware, the link will be valid from the May, 17th 2024 at 00:01 AM to the May, 17th 2024 at 04:00 PM (UTC+1).
The results will be announced the same day at 05:00 PM, in the Marcel Dassault amphitheater.

Good luck to all the candidates !

Cordially,

Louis GAMBART
Votix/Club*Nix - System and Network Administrator