Hello {{ first_name }},

Here's your voting link: {{ voting_link }}

You'll have to enter the following secret code: {{ secret_code }}.

This link is unique and will allow you to vote, only once, for the candidate of your choice.

The link will be valid from the May, 17th 2024 at 00:01 AM to the May, 17th 2024 at 04:00 PM (UTC+1).
The results will be announced the same day at 05:00 PM, in the Marcel Dassault amphitheater.

Don't forget to reply to this email if you have any issues.

Good luck to all the candidates !

Cordially,

Louis GAMBART
Votix/Club*Nix - System and Network Administrator