/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!/var/user_keys
/var/user_keys/*
!var/user_keys/.gitkeep
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

!var/SymfonyRequirements.php
/vendor/
/web/bundles/
