{% extends 'base.html.twig' %}

{% block body %}
    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Qui va gagner ?</h4>
            <p>La liste qui a le plus de voix exprimées à la clôture du vote. Comme d'habitude.</p>

            <h4>Est-ce que Votix est fiable ?</h4>
            <p>Un système de vote en ligne qui atteint ce niveau de simplicité et de performance plus fiable que ça, tu meurs.</p>

            <h4>Qui est derrière Votix ?</h4>
            <p>Cette année, Philippe Lewin (E6FR) est responsable de l'intégrité du vote. Victor Talvaz (E5FR) est assistant technique.</p>
        </div>

        <div class="col-lg-6">
            <h4>Puis-je revoir pour qui j'ai voté ?</h4>
            <p>Votix a été conçu pour qu'il soit techniquement impossible de déchiffrer le vote avant la clôture. Il est aussi techniquement impossible de voir pour qui une certaine personne a voté. Donc c'est non.</p>

            <h4>J'ai fait une mauvaise manipulation parce que j'étais bourré(e) à la K-fet ! Puis-je changer mon vote ?</h4>
            <p>Contacte au plus vite par mail ET par SMS. philippe.lewin at gmail.com et au 06&nbsp;51&nbsp;46&nbsp;64&nbsp;46 pour qu'on essaye de te trouver une solution.</p>

            <h4>J'aime Votix !</h4>
            <p>Nous aussi nous t'aimons.</p>
        </div>
    </div>


{% endblock %}
