{% extends 'base.html.twig' %}

{% block body %}
    <div class="row marketing">
        Merci {{ voter.firstname }} ! Ton vote a bien été pris en compte.


        <a href="{{ path('homepage') }}" class="btn btn-success">Retour à l'accueil</a>
    </div>
{% endblock %}
