Bonjour {{ voter.firstname }},<br />
<br />
C'est le moment de voter ! Il ne reste plus que quelques heures.<br />
<br />
Voici ton lien pour voter :<br />
<a href="{{link}}">{{link}}</a><br />
<br />
Tu devras entrer le code de sécurité suivant : <b>{{code}}</b><br />
<br />
Le lien reste actif jusqu'à <b>17h13 heure de Paris</b> mais ne te fais pas avoir, le temps passe vite.<br />
<br />
N'hésite pas à demander par retour de mail si tu as un problème pour voter.<br />
<br />
Je te remercie par avance de ta participation.<br />
<br />
Cordialement,<br />
--<br />
Philippe Lewin<br />
Votix/Club*Nix - Respo. système & intégrité des données<br />
