Bonjour {{ voter.firstname }},<br />
<br />
Voici ton lien pour voter :<br />
<a href="{{link}}">{{link}}</a><br />
<br />
Tu devras entrer le code de sécurité suivant : <b>{{code}}</b><br />
<br />
Ce lien t'offre le droit de voter strictement une seule fois sur Votix.<br />
<br />
Le lien sera actif le TODO jusqu'à <b>TODO</b> heure de Paris. L'annonce des résultats sera <b>TODO au TODO</b>.<br />
<br />
N'hésite pas à demander par retour de mail si tu as un problème pour voter.<br />
<br />
Je te remercie par avance de ta participation.<br />
<br />
Cordialement,<br />
--<br />
TODO<br />
TODO<br />
