{% extends 'base.html.twig' %}

{% block body %}
    <div class="callout alert">
        <h4>Erreur</h4>
        
        <p>Oops, vous avez déjà voté !</p>

        <p>Si vous pensez qu'il s'agit d'une erreur, contactez {{ votix_support_email|replace({'@': ' AT '}) }} merci.</p>

        <a href="{{ path('homepage') }}" class="btn btn-success">
            {% trans %}Back to homepage{% endtrans %}
        </a>
    </div>
{% endblock %}
