{% extends 'base.html.twig' %}

{% block body %}
    <div class="row marketing">
        Il est trop tôt ou trop tard pour voter.<br/><br/>


        <a href="{{ path('homepage') }}" class="btn btn-success">Retour à l'accueil</a>
    </div>


{% endblock %}
