{% extends 'base.html.twig' %}

{% block body %}

    <h2>Procédure de vérification de la clef</h2>

    <form method="post" action="{{ path('check_process') }}">
        <div class="form-group">
            <label for="">Clef Votix</label>
            <textarea class="form-control" name="key" placeholder="Collez ici la clef votix"></textarea>
        </div>
        <input type="submit" value="Tester la clef">
    </form>

    <p>{{ message }}</p>

{% endblock %}
