{% extends 'base.html.twig' %}

{% block body %}

    <h2>Procédure de vérification de la clef</h2>

    {{ form_start(form) }}
    {{ form_row(form.key) }}
    <input type="submit" class="button" value="Tester la clef">
    {{ form_end(form) }}

    {% if message is defined and message is not empty %}
        <p class="callout {% if success %}success{% else %}alert{% endif %}">{{ message }}</p>
    {% endif %}

{% endblock %}
