{% extends 'base.html.twig' %}

{% block body %}
    <h2>Procédure de déchiffrement</h2>

    {{ form_start(form) }}
    {{ form_row(form.key) }}
    {{ form_row(form.password) }}
    <input type="submit" class="button" value="Déchiffrer">
    {{ form_end(form) }}
{% endblock %}
