{% extends 'base.html.twig' %}

{% block body %}
    <h2>Procédure de déchiffrement</h2>

    <form method="post" action="{{ path('no_stress_process') }}">
        <div class="form-group">
            <label for="">Clef Votix</label>
            <textarea class="form-control" name="key" placeholder="Collez ici la clef votix"></textarea>
        </div>
        <div class="form-group">
            <label for="">Mot de passe de déchiffrement</label>
            <input type="password" class="form-control" name="password" placeholder="Mot de passe donné par le responsable de l'intégrité">
        </div>
        <input type="submit" value="Déchiffrer">
    </form>
{% endblock %}
