@charset "utf-8";

@import "~foundation-sites/scss/foundation.scss";

$primary-color: #6f74dd;

@include foundation-everything;

$subnav-hero-bg: $primary-color;
$subnav-hero-link-padding: 0.8rem 1rem;
$subnav-hero-font-size: 0.75rem;
$subnav-hero-link-opacity: 0.15;
$subnav-hero-height: 150px;
$subnav-hero-transition: all 0.35s ease-in-out;

.subnav-hero-section {
  text-align: center;
  background: $subnav-hero-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $subnav-hero-height;
  margin-bottom: 1rem;

  .subnav-hero-headline {
    color: $white;

    a {
      color: inherit;
    }
  }
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;

  li {
    float: none;
    display: inline-block;

    a {
      padding: $subnav-hero-link-padding;
      font-size: $subnav-hero-font-size;
      color: $white;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: $subnav-hero-transition;

      &.is-active {
        background: rgba($white, $subnav-hero-link-opacity);
      }

      &:hover {
        background: rgba($white, $subnav-hero-link-opacity);
      }
    }
  }
}

.hall-of-fame-table {
  thead tr {
      th:nth-child(2), th:nth-child(3) {
          text-align: right;
      }
  }
  tbody tr {
    td:nth-child(2), td:nth-child(3) {
        text-align: right;
    }
  }

  .active {
      background-color: $primary-color;
      color: white;
  }
  .danger {
      background-color: #FFF8DE;
  }
  .info {
      background-color: #CBC5F9;
  }
}

footer {
  text-align: right;
  opacity: 0.5;

  a {
    color: inherit;
  }
}

.progress-cell {
  padding-right: 1rem;
}

.vote-results {
  th:nth-child(2), th:nth-child(3), td:nth-child(2), td:nth-child(3) {
    text-align: right;
}
}

.config.success {
  color: seagreen;
}

.config.alert {
  color: red;
}