SMTP_SERVER=ssl0.ovh.net
SMTP_PORT=465
SMTP_USERNAME=no-reply@votix.fr
SMTP_PASSWORD=changeme
SMTP_FROM=no-reply@votix.fr
SMTP_REPLY_TO=no-reply@votix.fr
SMTP_VERIFY_SSL=True

SECRET_KEY=changeme

VOTING_URL='https://votix.fr/vote'

VALID_EMAIL_DOMAINS='esiee.fr,edu.esiee.fr'

PROMOTION_LIST='E1,E2,E3,E3APP,E4,E4APP,E5,E5APP,B1,B2,OTHER'

VOTING_START=1779400801
VOTING_END=1779458400
