<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/import.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Club*Nix Logo"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Homepage</a>
                </li>
                {% if current_user.is_authenticated and current_user.role == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">Dashboard</a>
                    </li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div id="filterbanner"></div>
<div id="banner"></div>
<main class="container">
    {% block content %}
    {% endblock %}
</main>

<div class="fill"></div>
<footer>
    <p id="current-time"></p>
    <p>&copy; Club*Nix • Louis GAMBART • Tous droits réservés • <span id="year"></span></p>

    <script>
        document.getElementById('current-time').textContent = new Date().toLocaleString();
        document.getElementById('year').innerHTML = new Date().getFullYear().toString();
    </script>
</footer>
</body>
</html>