{% extends "base.html" %}
{% block title %}Votix{% endblock %}
{% block content %}
    <div class="starter-template text-center py-5 px-3">
        <h1>Register a new voter in Votix</h1>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="form">
            <form method="POST" enctype="multipart/form-data" action="/register-voter">
                <fieldset>
                    <legend>Register new voter</legend>
                    <div class="input-group">
                        <span class="input-group addon">Last name</span>
                        <label for="last_name"></label>
                        <input type="text" id="last_name" name="last_name" placeholder="Last name" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group addon">First name</span>
                        <label for="first_name"></label>
                        <input type="text" id="first_name" name="first_name" placeholder="First name" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group addon">Email</span>
                        <label for="email"></label>
                        <input type="email" id="email" name="email" placeholder="Email address" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group addon">Promotion</span>
                        <label for="promotion"></label>
                        <select id="promotion" name="promotion" class="form-select" aria-label="Default select example">
                            <option selected disabled>Select a promotion</option>
                            {% for promotion in list %}
                                <option value="{{ promotion }}">{{ promotion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-primary mb-3">Register</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
